In [27]:
import pandas as pd

In [28]:
temperature = pd.read_table("C:/Users/Dell/Desktop/ferme_eval/temperature.csv", names=['date','mini','terrain','maxi','moyenne'], skiprows = [0], engine='python', sep='\;|,')

In [29]:
temperature

      date  mini  terrain  maxi  moyenne
0    01/14    -4       13    40       29
1    01/15   -11       11    33       15
2    01/15    -7       28    40       20
3    01/15    -1       33    18       18
4    01/17   -11       38    29       28
5    01/15    -9       38    36       29
6    01/15   -11       56    38       13
7    01/15    -7       58    41       24
8    01/15    -2       99    31       14
9    01/16   -12        6    26       21
10   01/16   -14       30    38       20
11   01/16   -13       44    28       18
12   01/16   -14       75    45       13
13   01/16     1       98    25       24
14   01/17    -2       28    25       24
15   01/17    -2       65    42       17
16   01/17     0       65    29       23
17   01/17    -1       79    26       29
18   01/18   -12       20    32       16
19   01/19   -13       19    44       17
20   01/19     0       20    33       23
21   01/19   -12       28    35       22
22   01/19     1       29    32       27
23   01/19   -15       52    46       11
24   01/19    -8       99    12       21
25   02/14    -2       74    27       16
26   02/15     1       19    46       16
27   02/15    -8       36    38       21
28   02/16    -5       34    45       23
29   02/16   -13       55    39       14
..     ...   ...      ...   ...      ...
870  03/15    -8       28    44       25
871  02/17     1       12    27       22
872  09/18   -10       73    32       25
873  08/14    -1       76    29       25
874  03/14    -4       25    27       21
875  12/16     2       43    20       18
876  07/17    -2        7    37       22
877  09/16     0       11    13       19
878  12/19     1       76    13       20
879  08/18   -13       23    30       12
880  02/17    -8       23    28       17
881  03/16    -2       61    21       10
882  12/19    -6       21    28       10
883  09/19   -10        8    17       18
884  05/14     0       21    42       27
885  07/18    -9        4    38       15
886  03/18    -6       94    40       10
887  06/15     0       23    13       26
888  01/17    -7       18    13       12
889  02/16   -15       72    14       11
890  01/14    -5       66    11       10
891  01/14     2       72    46       19
892  10/18    -8       50    43       24
893  05/19    -9       89    17       25
894  09/16   -10        8    19       26
895  02/16   -13       17    38       28
896  10/14     0       55    15       16
897  09/16   -15       19    35       12
898  03/19    -4       63    11       26
899  06/17    -1       18    44       24

[900 rows x 5 columns]

In [30]:
temperature.describe()

             mini     terrain        maxi     moyenne
count  900.000000  900.000000  900.000000  900.000000
mean    -6.671111   50.947778   29.056667   19.241111
std      5.203816   28.386937   11.150308    5.728049
min    -15.000000    1.000000   10.000000   10.000000
25%    -11.000000   26.000000   20.000000   14.000000
50%     -7.000000   52.000000   29.000000   19.000000
75%     -2.000000   74.000000   39.000000   24.000000
max      2.000000  100.000000   48.000000   29.000000

In [35]:
for i in range(len(temperature)):
    if temperature.moyenne[i] > temperature.maxi[i]:
        temp = temperature.moyenne[i]
        temperature.moyenne[i] = temperature.maxi[i]
        temperature.maxi[i] = temp

Empty DataFrame
Columns: [date, mini, terrain, maxi, moyenne]
Index: []

In [38]:
for i in range(len(temperature)):
    moy = (temperature.mini[i] + temperature.maxi[i])/2
    if temperature.moyenne[i] == temperature.maxi[i]:
        temperature.moyenne[i] = moy

C:\Users\Dell\Miniconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [39]:
temperature[temperature['moyenne'] == temperature['maxi']]

Empty DataFrame
Columns: [date, mini, terrain, maxi, moyenne]
Index: []